*,
*:before,
*:after {
    box-sizing: border-box;
}

.u_flex {
    display: flex;
}

.u_flex--Acenter {
    align-items: center;
}

.u_flex--Jcenter {
    justify-content: center;
}

.u_block {
    display: block;
}

.container {
    margin: 30px 4% 0;
    font-family: PingFang TC;
}

.navLeft img {
    min-width: 200px;
    height: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav>div {
    width: 30%;
}

.navRight>ul {
    display: flex;
    justify-content: space-between;
}

.navRight>ul>li {
    /* margin-left: 3.75rem; */
    font-size: 1rem;
    /* white-space: nowrap; */
}

.navRight>ul>li>a {
    color: #3f5d45;
    line-height: 1.5rem;
    text-decoration: none;
    min-width: 2rem;
    width: 100%;
}

/* header */
header>img {
    padding-top: 2rem;
    width: 100%;
    height: auto;
}

/* aside*/
.content {
    margin-top: 3.75rem;
    display: flex;
    justify-content: space-between;
}

aside>ul>li {
    text-align: center;
    font: normal normal 600 1.5rem/5rem PingFang TC;
    letter-spacing: 0px;
    color: #3F5D45;
    border: 1px solid #EAF0ED;
    width: 300px;
    line-height: 65px;
    cursor: pointer;
}

aside>ul>li:hover {
    background: #EAF0ED 0% 0% no-repeat padding-box;
}

aside>ul>li:first-child {
    color: #EAF0ED;
    background: #3F5D45 0% 0% no-repeat padding-box;
    cursor: default;
}

/* article */
article {
    margin-left: 1.25rem;
    /* width: 620px; */
    height: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* flex-direction: row-reverse; */
}

.card {
    width: 300px;
    text-align: left;
    font: normal normal 300 1.25rem/ 1.25rem PingFang TC;
    letter-spacing: 0px;
    cursor: default;
    margin-bottom: 1.25rem;
    position: relative;
}

.tag {
    position: absolute;
    top: 0;
    left: 20px;
    padding: 10px;
    color: #fff;
    background-color: #3f5d45;
    writing-mode: vertical-lr;
}

.tagLove {
    position: absolute;
    top: 20px;
    right: 20px;
}

.title {
    width: 50%;
    font-size: 20px;
    line-height: 24px;
    border: 1px solid #EAF0ED;
    padding: 14px 0;
    color: #3F5D45;
    font-weight: bold;
    text-align: center;
}

.btn>button {
    width: 100%;
    font-size: 20px;
    line-height: 24px;
    padding: 14px 0;
    line-height: 20px;
    background: #EAF0ED;
    color: #3F5D45;
    border: none;
}

.btn>button:hover {
    background: #3F5D45;
    color: white;
}

/* pagination */
.pagination {

    display: flex;
    justify-content: end;
}

.pagination ul {
    display: flex;
    justify-content: flex-end;
}

.pagination ul li {
    width: 100%;
    text-align: center;

}

.pagination ul li a {
    display: inline-block;
    font-size: 20px;
    padding: 16px 24px;
    text-decoration: none;
    color: #000;
    border: 1px solid #EAF0ED;
}

.pageFocus:focus {
    background-color: #3F5D45;
    color: #EAF0ED;
}